---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostListing from '../../components/BlogPostListing.astro';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.fetchContent('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<BaseLayout>
    <section class="min-w-[320px] w-full md:w-2/3 lg:w-1/2 px-6 md:px-12">
      <h2 class="text-sm uppercase pb-4">Recent Articles</h2>
      <section class="space-y-4" aria-label="Blog posts list">
          {allPosts.map((p) => <BlogPostListing post={p} />)}
      </section>
    </section>
</BaseLayout>