@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* vampiro-one-regular - latin */
    @font-face {
        font-family: 'Vampiro One';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('../fonts/vampiro-one-v13-latin/vampiro-one-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/vampiro-one-v13-latin/vampiro-one-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    /* courier-prime-regular - latin */
    @font-face {
        font-family: 'Courier Prime';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    
    /* courier-prime-italic - latin */
    @font-face {
        font-family: 'Courier Prime';
        font-style: italic;
        font-weight: 400;
        src: local(''),
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* courier-prime-700 - latin */
    @font-face {
        font-family: 'Courier Prime';
        font-style: normal;
        font-weight: 700;
        src: local(''),
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* courier-prime-700italic - latin */
    @font-face {
        font-family: 'Courier Prime';
        font-style: italic;
        font-weight: 700;
        src: local(''),
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/courier-prime-v2-latin/courier-prime-v2-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}