---
import Layout from '../layouts/Layout.astro';
import InlinePost from '../components/InlinePost.astro';


let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<Layout title="blog | timuism | the online home of timothy long">
	<article>
		<h2 class="text-2xl">Blog</h2>
    <section aria-label="Blog post list" class="mt-12 space-y-12">
      {allPosts.map((p) => <InlinePost post={p} />)}
  </section>
  </article>
</Layout>

