---
import Layout from '../layouts/Layout.astro';
import InlinePost from '../components/InlinePost.astro';
import Link from '../components/Link.astro';
import NavLink from '../components/NavLink.astro';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<Layout title="Timothy Long">
	<article>
    <section>
      <p class="text-base font-light tracking-wide mt-4 font-serif">
        I'm a developer with experience building user interfaces on the small & large scale, building web applications, and helping small businesses create a web presence.
      </p>

      <p class="text-base font-light tracking-wide mt-4 font-serif">
        I am also a musician, father, Star Wars nerd, casual gamer and Black atheist. If any of those things interest you, then I encourage you to check out my <Link href="/blog">blog</Link> and/or <Link href="https://www.youtube.com/channel/UCVCY5V1UVF8NtaIOV0ye3vQ">YouTube channel</Link>.
      </p>

      <h3 class="mt-8 font-medium">Quick Links</h3>
      <table class="mt-4">
        <tr>
          <td class="text-gray-300 font-medium">Twitter</td>
          <td class="pl-16"><Link href="https://twitter.com/timuism">@timuism</Link></td>
        </tr>
        <tr>
          <td class="text-gray-300 font-medium">GitHub</td>
          <td class="pl-16"><Link href="https://github.com/timuism">timuism</Link></td>
        </tr>
        <tr>
          <td class="text-gray-300 font-medium">Email</td>
          <td class="pl-16"><Link href="mailto:tim@timuism.com">tim@timuism.com</Link></td>
        </tr>
      </table>

      <p class="mt-4">Check out my <Link href="/linktree">links</Link> page for all of my socials and worthwhile links</p>
    </section>
  </article>
</Layout>

