---
import Layout from '../layouts/Layout.astro';
---

<Layout title="subscribe to my newsletter | timuism | the online home of timothy long">
	<article>
		<h2 class="text-2xl">Subscribe to my newsletter</h2>

    <p class="longform-p mt-12">
      I promise not to spam you! If you've enjoyed my posts or want to follow along with what is going on in my life, feel free to subscribe.
    </p>

    <form name="subscribe-to-newsletter" class="mt-12 w-4/5 flex flex-col space-y-5 border border-gray-500 rounded p-8" netlify>
      <label>
        <p class="text-primary font-sans">Your Name</p>
        <input 
          type="text" 
          placeholder="Only your first name is fine!" 
          class="w-full bg-transparent border font-semibold text-primary border-gray-500 px-2 py-0.5 mt-2 text-base rounded outline-none focus:outline-white/25 placeholder:text-white/25 placeholder:font-normal" 
          required
          />
      </label>
      
      <label>
        <p class="text-primary font-sans">Email Address</p>
        <input 
          type="text" 
          placeholder="name@example.com" 
          class="w-full bg-transparent border font-semibold text-primary border-gray-500 px-2 py-0.5 mt-2 text-base rounded font-sans outline-none focus:outline-white/25 placeholder:text-white/25 placeholder:font-normal" 
          required
        />
      </label>

      <div class="pt-8">
        <button type="submit" class="text-gray-900 font-sans bg-primary text-xl inline-flex px-4 py-2 outline-none ring-offset-1 ring-4 ring-transparent focus:ring-secondary rounded bg-secondary duration-200">
          Subscribe
        </button>
      </div>
    </form>
  </article>
</Layout>

