---
import Layout from '../layouts/Layout.astro';

const projects = [
  {
    name: 'Torch',
    description: 'A Web App for capturing, logging and sharing strength training workouts',
    url: 'https://torchfitness.app'
  },
  {
    name: 'Torc',
    description: 'Capture workout data from text using a simple syntax',
    url: 'https://github.com/timuism/torc',
  },
  {
    name: 'Vida',
    description: 'A Todo app based around walking you through personal sprints',
    url: 'https://github.com/timuism/vida'
  }
]
---

<Layout title="projects | timuism | the online home of timothy long">
	<article>
		<h2 class="text-2xl">Projects</h2>

    <ul class="mt-12 space-y-12 md:pr-24">
      {projects.map((project, index) => (
        <li>
          <a href={project.url} class="group block border-2 border-primary hover:border-secondary rounded p-4 duration-200">
            <h3 class="font-display font-semibold text-xl text-primary group-hover:text-secondary duration-200">{project.name}</h3>
            <p class="mt-2 text-lg font-sans font-medium italic">{project.description}</p>
          </a>
        </li>
      ))}
      
    </ul>
  </article>
</Layout>

