---
import Layout from '../layouts/Layout.astro';

//@todo: list recent work:
/**
 * dagger website
 * jhuapl diversity inclusion annual report
 * 2021 annual report
 * purpose ova everything
 * laruta (macpa.org | msba.org | cocpa.org)
 * maybe: onepage app (if i can remove all things related to hopkins)
 * maybe: basestack ui elements/components
 * maybe: tang inspire app (requires rebranding)
 * maybe: campus maps
 * 
 */
const projects = [
  {
    name: 'Dagger Application by JHU APL',
    description: '',
    url: 'https://www.jhuapl.edu/dagger/'
  },
  {
    name: '2021 Diversity & Inclusion Annual Report for Johns Hopkins University Applied Physics Laboratory',
    description: '',
    url: 'https://www.jhuapl.edu/Diversity-Inclusion-Annual-Report-2021/',
  },
  {
    name: 'Purpose Ova Everything',
    description: 'Custom Shopify Theme for a clothing & apparel business',
    url: 'https://purposeovaeverything.com'
  }
]
---

<Layout title="recent work | timuism | the online home of timothy long">
	<article>
		<h2 class="text-2xl">Recent Work</h2>

    <ul class="mt-12 space-y-12 md:pr-24">
      {projects.map((project, index) => (
        <li>
          <a href={project.url} class="group block border-2 border-primary hover:border-secondary rounded p-4 duration-200">
            <h3 class="font-display font-semibold text-xl text-primary group-hover:text-secondary duration-200">{project.name}</h3>
            <p class="mt-2 text-lg font-sans font-medium italic">{project.description}</p>
          </a>
        </li>
      ))}
      
    </ul>
  </article>
</Layout>

