---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="max-w-screen-md mx-auto">
	<header class="mb-4">
		<p class="text-xs uppercase tracking-wider">{post.frontmatter.publishDate}</p>
		<a href={post.url} class="text-3xl">
        <h2 class="text-2xl font-display font-bold text-primary hover:text-secondary duration-200">{post.frontmatter.title}</h2>
    </a>
	</header>
</article>