---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="max-w-screen-md mx-auto">
	<header class="mb-4">
    <a href={post.url}>
      <h2 class="text-base font-serif text-gray-100 hover:text-secondary duration-200">{post.frontmatter.title}</h2>
    </a>
    <p class="text-xs text-gray-500 font-serif italic uppercase tracking-wider">{post.frontmatter.publishDate}</p>
	</header>
</article>