---
export interface Props {
	href: string;
}

const { href } = Astro.props;
---
<a href={href} class="whitespace-nowrap text-gray-100 border-b border-gray-500 font-sans font-medium text-base hover:border-gray-100 duration-200">
  <slot />
</a>