---
export interface Props {
	href: string;
}

const { href } = Astro.props;
---
<a href={href} class="inline-block whitespace-nowrap text-base font-sans font-medium hover:text-secondary duration-200">
  <slot />
</a>