---
export interface Props {
	title: string;
    image: string;
	url: string;
	alt: string;
}

const {title, url, image, alt} = Astro.props;
---
<a href={url} target="_new" class="group block relative w-full p-4 hover:cursor-pointer">
    <div class="w-full">
        <div class="w-full">
            <img src={`../assets/portfolio/${image}`} alt={alt} class="object-cover" />
        </div>
        
        <div class="px-8 absolute justify-center border-2 border-primary/25 items-center top-0 left-0 w-full h-full rounded opacity-0 group-hover:opacity-100 group-hover:bg-gray-extra-dark/95 duration-300 p-2 flex flex-col space-y-4">
            <h1 class="text-4xl w-full">{title}</h1>
            <p class="w-full"><slot></slot></p>
            <div class="w-full underline text-2xl mt-auto" target="_new">
                Visit Site
            </div>
        </div>
    </div>
</a>