---
export interface Props {
	publishDate: string;
    addClasses: string;
}

const { date, addClasses = '' } = Astro.props;
---

<p class={`text-sm text-gray-dark uppercase mb-1 pl-1 ${addClasses}`}>{date}</p>