---
import Link from '../components/Link.astro';
import '../../assets/app.css'
import '../../assets/fonts/barlow-v12-latin/barlow.css'
import '../../assets/fonts/bitter-v32-latin/bitter.css'
import MeHeader from '../../assets/images/me-header.jpg'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="font-sans antialiased bg-gray-900 max-w-screen-lg mx-auto mb-32 text-gray-100">
    <main class="md:pt-12 md:min-h-screen flex flex-col md:flex-row items-start justify-center md:space-x-24">
      <!-- <div class="w-full md:w-[200px] p-4">
        <header class="px-4 md:text-right">
          <h1 class="text-2xl font-display font-bold italic tracking-wider text-secondary">
            <a href="/" class="w-[50px] h-[50px] mb-4 md:mb-0 md:w-[100px] md:h-[100px] inline-block rounded-full overflow-hidden border-2 border-transparent hover:animate-pulse hover:border-secondary hover:rotate-12 duration-200">
              <img src={MeHeader} alt="Photo of Tim Long" class="object-cover" />
            </a>
          </h1>
        </header>
      </div> -->
      <section class="shrink w-full min-w-[320px] md:max-w-[640px] p-12 md:pb-0 md:px-0">
        <slot />
      </section>
    </main>

	</body>
</html>

<style is:global>
  .longform-p {
    max-width: 480px;
  }
</style>