---
import Link from '../components/Link.astro';
import '../../assets/app.css'
import '../../assets/fonts/barlow-v12-latin/barlow.css'
import MeHeader from '../../assets/images/me-header.jpg'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="font-sans bg-chineseviolet bg-black text-white mx-auto px-8 min-w-[320px]">
    <main class="my-12 px-8 flex flex-col items-center">
      <header>
        <h1 class="text-2xl font-display font-bold italic tracking-wider text-secondary">
          <a href="/" class="mb-0 w-[100px] h-[100px] inline-block rounded-full overflow-hidden border-2 border-transparent hover:animate-pulse hover:border-secondary hover:rotate-12 duration-200">
            <img src={MeHeader} alt="Photo of Tim Long" class="object-cover" />
          </a>
        </h1>
      </header>

      <section class="w-full mt-4 py-4 border-t-2 border-secondary">
        <slot />
      </section>
    </main>
	</body>
</html>

<style is:global>
  .longform-p {
    max-width: 480px;
  }
</style>