---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title="Timothy Long">
  <div>
    <h2 class="text-xl font-display font-bold">{frontmatter.title}</h2>
    <p class="text-sm text-gray-500 font-sans font-medium uppercase tracking-wider ">{frontmatter.publishDate.slice(0, 12)}</p>
  </div>

  <article class="mt-12 post-content">
    <slot />
  </article>
</Layout>

